{% extends 'base.html' %}


{% block content %}

<ul>
    {% for episode in episodes %}

        <li>{{ episode.webtoon.title }} -
            <a href="{% url 'episode-detail' pk=episode.pk %}">{{ episode.episode_title }}</a>
        </li>

    {% endfor %}


</ul>

    <div class="btn-container">
        <form action="{% url 'webtoon-list'%}" method="get" class="inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">돌아가기</button>
        </form>
    </div>
{% endblock %}